<a href="https://colab.research.google.com/github/gitsmak/CSC221_smak002/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [898]:
#try it yourself 4.1
pizzas = ['cheese', 'extra cheese', 'mozzarella cheese', 'cheddar cheese','mixed cheese']
for pizza in pizzas:
  print("I want " + pizza.title())
print("I think I love cheese on pizza.")

I want Cheese
I want Extra Cheese
I want Mozzarella Cheese
I want Cheddar Cheese
I want Mixed Cheese
I think I love cheese on pizza.

In [899]:
#try it yourself 4.2
hasEars = ['cow', 'bear', 'monkey', 'dog', 'cat', 'rabbit']
for hasEar in hasEars:
  print(hasEar.title() + " is so cute")
print("This is because they have ears.")

Cow is so cute
Bear is so cute
Monkey is so cute
Dog is so cute
Cat is so cute
Rabbit is so cute
This is because they have ears.

In [900]:
#try it yourself 4.3
num = list(range(1,21))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [901]:
#try it yourself 4.4
#one million is a lot to scroll so I made a list from one to one hundred
mil = list(range(1,101))
print(mil)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [902]:
#try it yourself 4.5
mil = list(range(1,1000001))
print(min(mil))
print(max(mil))
print(sum(mil))

1
1000000
500000500000

In [903]:
#try it yourself 4.6
odds = list(range(1,21,2))
for odd in odds:
  print(odd)

1
3
5
7
9
11
13
15
17
19

In [904]:
#try it yourself 4.7
threes = list(range(3,31,3))
#I assume the question asks for the last number in the list to be 30
for three in threes:
  print(three)

3
6
9
12
15
18
21
24
27
30

In [905]:
#try it yourself 4.8
cubes = [value**3 for value in range(1,11)]
for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [906]:
#try it yourself 4.9
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [907]:
#try it yourself 4.10
#copied from 4.1
pizzas = ['cheese', 'extra cheese', 'mozzarella cheese', 'cheddar cheese','mixed cheese']
for pizza in pizzas:
  print("I want " + pizza.title())
print("I think I love cheese on pizza." + "\n")\

#4.10 start here
print("The first three items in the list are:")
for pizza in pizzas[:3]:
  print(pizza.title())

#extra \n so the output doesn't look clustered
print("\n" + "Three items from the middle of the list are:")
for pizza in pizzas[1:4]:
  print(pizza.title())

print("\n" +"The last three items in the list are:")
for pizza in pizzas[2:]:
  print(pizza.title())

I want Cheese
I want Extra Cheese
I want Mozzarella Cheese
I want Cheddar Cheese
I want Mixed Cheese
I think I love cheese on pizza.

The first three items in the list are:
Cheese
Extra Cheese
Mozzarella Cheese

Three items from the middle of the list are:
Extra Cheese
Mozzarella Cheese
Cheddar Cheese

The last three items in the list are:
Mozzarella Cheese
Cheddar Cheese
Mixed Cheese

In [908]:
#try it yourself 4.11
pizzas = ['bbq', 'cheese', 'extra cheese', 'mozzarella cheese', 'cheddar cheese','mixed cheese']
friend_pizzas = ['tomato', 'cheese', 'extra cheese', 'mozzarella cheese', 'cheddar cheese','mixed cheese']

print("My favorite pizzas are:")
for pizza in pizzas:
  print(pizza.title())

print("\n" + "My friend's favorite pizzas are")
for friend_pizza in friend_pizzas:
  print(friend_pizza.title())

My favorite pizzas are:
Bbq
Cheese
Extra Cheese
Mozzarella Cheese
Cheddar Cheese
Mixed Cheese

My friend's favorite pizzas are
Tomato
Cheese
Extra Cheese
Mozzarella Cheese
Cheddar Cheese
Mixed Cheese

In [909]:
#try it yourself 4.13
foods = ('chicken', 'shrimp', 'rice', 'salad', 'cake')
for food in foods:
  print(food)

#modify
foods = ('beef', 'shrimp', 'noodles', 'salad', 'cake')
print("\nModified Menu:")
for food in foods:
  print(food)

chicken
shrimp
rice
salad
cake

Modified Menu:
beef
shrimp
noodles
salad
cake

In [910]:
#4.12, 4.14, 4.15 are redundant

In [911]:
#task 3: factorial(n)
def fact(n):
  num = [x+1 for x in range(n)]
  fact = 1
  for x in num:
    fact *=x
  return fact

print(fact(5))
print(fact(10))
print(fact(20))

120
3628800
2432902008176640000

In [912]:
#task 4: special_fact
def special_fact(n):
  num = [x+1 for x in range(n)]
  if n >= 4:
    num.remove(4)
  if n >= 13:
    num.remove(13)
  if n >= 22:
    num.remove(22)

  special_fact = 1
  for x in num:
    special_fact *=x
  return special_fact

print(special_fact(5))
print(special_fact(10))
print(special_fact(20))
print(special_fact(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000