<a href="https://colab.research.google.com/github/gitsmak/CSC221_smak002/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [354]:
#Susan Mak
#Assignment 4

#3.1
names = ['susan', 'jakub', 'makayla']
print(names[0].title())
print(names[1].title())
print(names[2].title())

Susan
Jakub
Makayla

In [355]:
#3.2
print("Hi, my name is " + names[0].title())
print("How are you doing, " + names[1].title() + "?")
print("This is my friend, " + names[2].title())

Hi, my name is Susan
How are you doing, Jakub?
This is my friend, Makayla

In [356]:
#3.3
transportation = ['walking', 'shuttle', 'bus']
print("I enjoy " + transportation[0] + '.')
print("I don't like the " + transportation[1] + ".")
print("I'm okay with taking the " + transportation[2] + ".")

I enjoy walking.
I don't like the shuttle.
I'm okay with taking the bus.

In [357]:
#3.4
invite = 'susan', 'jakub', 'ferdy', 'lukas'
print(invite[0].title() + ", go to my dinner")
print(invite[1].title() + ", go to my dinner")
print(invite[2].title() + ", go to my dinner")
print(invite[3].title() + ", go to my dinner")

Susan, go to my dinner
Jakub, go to my dinner
Ferdy, go to my dinner
Lukas, go to my dinner

In [358]:
#3.5
invite = ['susan', 'jakub', 'ferdy', 'lukas']
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")

print("\nSadly, " + invite[0].title() + " is unable to attend my dinner\n")

invite[0] = 'lucy'
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")

Susan, you are invited to my dinner
Jakub, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner

Sadly, Susan is unable to attend my dinner

Lucy, you are invited to my dinner
Jakub, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner

In [359]:
#3.6
invite = ['susan', 'jakub', 'ferdy', 'lukas']
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")

print("\nSadly, " + invite[0].title() + " is unable to attend my dinner\n")

invite[0] = 'lucy'
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")

print("\nHello all, I found a bigger dinner table and will be inviting more people.\n")

invite.insert(0, 'makayla')
invite.insert(3, 'betza')
invite.append('alvin')
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")
print(invite[4].title() + ", you are invited to my dinner")
print(invite[5].title() + ", you are invited to my dinner")
print(invite[6].title() + ", you are invited to my dinner")

Susan, you are invited to my dinner
Jakub, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner

Sadly, Susan is unable to attend my dinner

Lucy, you are invited to my dinner
Jakub, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner

Hello all, I found a bigger dinner table and will be inviting more people.

Makayla, you are invited to my dinner
Lucy, you are invited to my dinner
Jakub, you are invited to my dinner
Betza, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner
Alvin, you are invited to my dinner

In [360]:
#3.7
invite = ['susan', 'jakub', 'ferdy', 'lukas']
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")

print("\nSadly, " + invite[0].title() + " is unable to attend my dinner\n")

invite[0] = 'lucy'
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")

print("\nHello all, I found a bigger dinner table and will be inviting more people.\n")

invite.insert(0, 'makayla')
invite.insert(3, 'betza')
invite.append('alvin')
print(invite[0].title() + ", you are invited to my dinner")
print(invite[1].title() + ", you are invited to my dinner")
print(invite[2].title() + ", you are invited to my dinner")
print(invite[3].title() + ", you are invited to my dinner")
print(invite[4].title() + ", you are invited to my dinner")
print(invite[5].title() + ", you are invited to my dinner")
print(invite[6].title() + ", you are invited to my dinner")

print("\nHello all, sorry to say that my very large dinner table wont arrive and my original table broke so I can only invite two people.\n")

print("\n" + invite[0].title() + ", you are no longer invited to my dinner, sorry")
invite.pop(0)
print(invite[0].title() + ", you are no longer invited to my dinner, sorry")
invite.pop(0)
print(invite[1].title() + ", you are no longer invited to my dinner, sorry")
invite.pop(1)
print(invite[2].title() + ", you are no longer invited to my dinner, sorry")
invite.pop(2)
print(invite[2].title() + ", you are no longer invited to my dinner, sorry")
invite.pop(2)
print("\n" + invite[0].title() + ", you are still invited to my dinner")
print(invite[1].title() + ", you are still invited to my dinner")

Susan, you are invited to my dinner
Jakub, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner

Sadly, Susan is unable to attend my dinner

Lucy, you are invited to my dinner
Jakub, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner

Hello all, I found a bigger dinner table and will be inviting more people.

Makayla, you are invited to my dinner
Lucy, you are invited to my dinner
Jakub, you are invited to my dinner
Betza, you are invited to my dinner
Ferdy, you are invited to my dinner
Lukas, you are invited to my dinner
Alvin, you are invited to my dinner

Hello all, sorry to say that my very large dinner table wont arrive and my original table broke so I can only invite two people.


Makayla, you are no longer invited to my dinner, sorry
Lucy, you are no longer invited to my dinner, sorry
Betza, you are no longer invited to my dinner, sorry
Lukas, you are no longer invited to my dinner, sorry
Alvin, you are no longer invited to my dinner, sorry

Jakub, you are still invited to my dinner
Ferdy, you are still invited to my dinner

In [361]:
#3.8
visit = ['Canada', 'Slovakia', 'Japan', 'Poland', 'London']
print("Here's the original order:")
print(visit)
print("\n")

print("Here's the sorted order:")
print(sorted(visit))
print("\n")

print("Here's the sorted in reverse order:")
visit.sort(reverse = True)
print(visit)
print("\n")

print("Here's the order in reverse:")
visit.reverse()
print(visit)
print("\n")

print("Here's the order in reverse again:")
visit.reverse()
print(visit)
print("\n")

print("Here's the sorted order again:")
print(sorted(visit))
print("\n")

print("Here's the sorted in reverse order again:")
visit.sort(reverse = True)
print(visit)

Here's the original order:
['Canada', 'Slovakia', 'Japan', 'Poland', 'London']


Here's the sorted order:
['Canada', 'Japan', 'London', 'Poland', 'Slovakia']


Here's the sorted in reverse order:
['Slovakia', 'Poland', 'London', 'Japan', 'Canada']


Here's the order in reverse:
['Canada', 'Japan', 'London', 'Poland', 'Slovakia']


Here's the order in reverse again:
['Slovakia', 'Poland', 'London', 'Japan', 'Canada']


Here's the sorted order again:
['Canada', 'Japan', 'London', 'Poland', 'Slovakia']


Here's the sorted in reverse order again:
['Slovakia', 'Poland', 'London', 'Japan', 'Canada']

In [362]:
#3.9
#pasted from 3.4
invite = 'susan', 'jakub', 'ferdy', 'lukas'
print(invite[0].title() + ", go to my dinner")
print(invite[1].title() + ", go to my dinner")
print(invite[2].title() + ", go to my dinner")
print(invite[3].title() + ", go to my dinner")
print("Invitations: ")
len(invite)

Susan, go to my dinner
Jakub, go to my dinner
Ferdy, go to my dinner
Lukas, go to my dinner
Invitations:

4

In [363]:
#3.10
num = ['four', 'two', 'zero', 'one', 'thirteen', 'six', 'nine']
print("Function 1 prints a raw Python list")
print(num)
print("\n")

print("Function 2 prints specific numbers")
print(num[1].title())
print("This is " + num[2].title())
print("\n")

print("Function 3 replaces a number")
num[6] = "seven"
print(num)
print("\n")

print("Function 4 inserts a number in a specific place")
num.insert(2, 'five')
print(num)
print("\n")

print("Function 5 adds a number to the end of the list")
num.append('three')
print(num)
print("\n")

print("Function 6 removes a number that's in a specific place")
num.pop(1)
print(num)
print("\n")

print("Function 7 sorts the list in alphabetical order")
print(sorted(num))
print("\n")

print("Function 8 sorts the list in reverse alphabetical order")
num.sort(reverse = True)
print(num)
print("\n")

print("Function 9 reverses the order of the list")
num.reverse()
print(num)
print("\n")

print("Function 10 states how many numbers are in the list")
len(num)

Function 1 prints a raw Python list
['four', 'two', 'zero', 'one', 'thirteen', 'six', 'nine']


Function 2 prints specific numbers
Two
This is Zero


Function 3 replaces a number
['four', 'two', 'zero', 'one', 'thirteen', 'six', 'seven']


Function 4 inserts a number in a specific place
['four', 'two', 'five', 'zero', 'one', 'thirteen', 'six', 'seven']


Function 5 adds a number to the end of the list
['four', 'two', 'five', 'zero', 'one', 'thirteen', 'six', 'seven', 'three']


Function 6 removes a number that's in a specific place
['four', 'five', 'zero', 'one', 'thirteen', 'six', 'seven', 'three']


Function 7 sorts the list in alphabetical order
['five', 'four', 'one', 'seven', 'six', 'thirteen', 'three', 'zero']


Function 8 sorts the list in reverse alphabetical order
['zero', 'three', 'thirteen', 'six', 'seven', 'one', 'four', 'five']


Function 9 reverses the order of the list
['five', 'four', 'one', 'seven', 'six', 'thirteen', 'three', 'zero']


Function 10 states how many numbers are in the list

8

In [364]:
#3.11
#intentional error: pop index out of range
num = ['four', 'two', 'zero', 'one', 'thirteen', 'six', 'nine']
num.pop(7)
print(num)

IndexError: ignored

In [ ]:
#intentional error fixed
num = ['four', 'two', 'zero', 'one', 'thirteen', 'six', 'nine']
num.pop(6)
print(num)

In [ ]:
#Print the cubes of all of the integers that are a multiple of 7 between 60 and 85

In [ ]:
#Compute y = 7.4x + 51 for the set of values 40, 50, 120, -8, and 6.