<a href="https://colab.research.google.com/github/gitsmak/CSC221_smak002/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [180]:
#try it yourself 4.1
pizzas = ['cheese', 'extra cheese', 'mozzarella cheese']
for pizza in pizzas:
  print("I want " + pizza.title())
print("I think I love cheese on pizza.")

I want Cheese
I want Extra Cheese
I want Mozzarella Cheese
I think I love cheese on pizza.

In [181]:
#try it yourself 4.2
hasEars = ['cow', 'bear', 'monkey', 'dog']
for hasEar in hasEars:
  print(hasEar.title() + " is so cute")
print("This is because they have ears.")

Cow is so cute
Bear is so cute
Monkey is so cute
Dog is so cute
This is because they have ears.

In [182]:
#try it yourself 4.3
num = list(range(1,21))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [183]:
#try it yourself 4.4
#one million is a lot to scroll so I made a list from one to one hundred
mil = list(range(1,101))
print(mil)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [184]:
#try it yourself 4.5
mil = list(range(1,1000001))
print(min(mil))
print(max(mil))
print(sum(mil))

1
1000000
500000500000

In [185]:
#try it yourself 4.6
odds = list(range(1,21,2))
for odd in odds:
  print(odd)

1
3
5
7
9
11
13
15
17
19

In [186]:
#try it yourself 4.7
threes = list(range(3,31,3))
#I assume the question asks for the last number in the list to be 30
for three in threes:
  print(three)

3
6
9
12
15
18
21
24
27
30

In [187]:
#try it yourself 4.8
cubes = [value**3 for value in range(1,11)]
for cube in cubes:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [188]:
#try it yourself 4.9
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#try it yourself 4.10